* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: lightgreen;
}

.hidden {
    display: none;
}

.display {
    display: flex;
}

.button:hover {
    background-color: rgba(35, 79, 124, 0.348) ;
}

.wrapper_all {
    display: flex;
    flex-direction: column;
}

/* SECTION lANDING PAGE */

.wrapper_home {
    background: lightgreen;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%
    
}

#header {
    background-color: rgba(183, 182, 180, 0.504);
    color: white;
    width: 100%;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    margin-bottom: 5%;
}

.wrapper_logo button {
   background: rgb(139, 199, 153);
   padding: 3rem;
   border-radius: 20px;
   border-style: none;
   font-size: 20px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25) ;
   color: white; 
   font-weight: bold;
   cursor: pointer;
}

/* .user_input {
    background-color: rgba(255, 255, 255, 0.472);
    width: 80%;
    padding: 20px;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25) ;
} */


.welcome_text {
    background-color: rgba(107, 107, 107, 0.337);
    padding: 2rem;
    margin-inline: 5%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25) ;
    color: white;
}

.next_button button {
    background-color: rgba(142, 157, 172, 0.722);
    padding: 1.5rem;
    border: none;
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    color: white;
    cursor: pointer;
    
}

/* SECTION QUESTIONS */


.wrapper_question {
    background: lightgreen;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5%;
}

.question_card {
    background-color: rgba(107, 107, 107, 0.337);
    padding: 3rem;
    margin-inline: 5%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25) ;
    color: white;
}

.button_question {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-inline: 5%;
    cursor: pointer;
}

.questionStyle {
    background-color: rgba(184, 200, 215, 0.722);
    height: auto;
    border: none;
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    color: white;
}


/* SECTION GOOD REPONSE */

.wrapper_good {
    background: lightgreen;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    
    
}

.congrats_text  {
    background-color: rgba(107, 107, 107, 0.337);
    margin-inline: 5%;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25) ;
    color: white;
}

.continue_button button {
    background-color: rgba(142, 157, 172, 0.33);
    padding: 1.5rem;
    margin-top: 20%;
    border: none;
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    color: white;
    cursor: pointer;
}


/* SECTION BAD REPONSE */

.wrapper_bad {
    background: lightgreen;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;

}

/* SECTION END */

.wrapper_end {
    background: lightgreen;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 5%;
}